.Label1 {
    position: absolute;
    left: 520px;
    top: 30px;
}

.ImageButton1 {
    position: absolute;
    left: 500px;
    top: 90px;
}


.Label3 {
    position: absolute;
    left: 500px;
    top: 310px;
}
